<% if @post.errors.any? %>
  <div class="error_explanation">
    <p><%= @post.errors.count %>件のエラーがあります。</p>
    <ul>

    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>