<h1>編集画面</h1>

<%= form_with(model: @post, local: true , url: tori_path ) do |form| %>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>